<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <!-- <meta name="viewport" content="width=<device-width>, initial-scale=1.0" /> -->
    <title>Audiebant Lockdown System</title>
    <!-- <link rel="stylesheet" href="index.css" /> -->
    <link rel="stylesheet" href="src/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="src/styles/style.css" />
   
    <script src="src/scripts/main-renderer.js"></script>
    <script type="text/javascript" src="src/scripts/angular-1.7.8.min.js"></script>
    <script type="text/javascript" src="src/scripts/index-controller.js"></script>
    <base href="/">
  </head>
  <body ng-app="app">
    <!-- <div class="container">
      <br/>
      <h5>Please enter the database connection details below:</h5>
      <br/>
      <form class="form-horizontal" action="/"></form>
      <div class="form-group mb-3">
         <div class="row">
            <label class="control-label col-sm-3" for="databaseAddress">Database Address:</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="databaseAddress" name="databaseAddress">
            </div>
         </div>
      </div>
      <div class="form-group mb-3">
         <div class="row">
            <label class="control-label col-sm-3" for="databaseUsername">Database Username:</label>
            <div class="col-sm-9">          
               <input type="text" class="form-control" id="databaseUsername" name="databaseUsername">
            </div>
         </div>
      </div>
      <div class="form-group mb-3">
         <div class="row">
            <label class="control-label col-sm-3" for="databasePassword">Database Password:</label>
            <div class="col-sm-9">          
               <input type="password" class="form-control" id="databasePassword" name="databasePassword">
            </div>
         </div>
      </div>
      <div class="form-group mb-3">
         <div class="row">
            <label class="control-label col-sm-3" for="siteKey">Site Key:</label>
            <div class="col-sm-9">          
               <input type="text" class="form-control" id="siteKey" name="siteKey">
            </div>
         </div>
      </div>
      <div class="form-group mb-3">
         <div class="row">
            <label class="control-label col-sm-3" for="siteName">Site Name:</label>
            <div class="col-sm-9">          
               <input type="text" class="form-control" id="siteName" name="siteName">
            </div>
         </div>
      </div>
      <div class="form-group mb-3">
         <div class="row ">
            <div class="col-sm-offset-3 col-sm-3">
               <button type="button" class="btn btn-secondary">Test Connection</button>
            </div>
            <div class="col-sm-offset-4 col-sm-4">
               <button type="button" class="btn btn-secondary">Save Connection Details</button>
            </div>
            <div class="col-sm-offset-3 col-sm-3">
               <button type="button" class="btn btn-secondary">Cancel and Close</button>
            </div>
         </div>
      </div>
      </form>
   </div> -->
    <div class="container" ng-controller="IndexController as vm" ng-cloak>
      <div class="d-flex justify-content-center mt-5">
          <ng-form novalidate name="frm" ng-class="{'was-validated': frm.$submitted }">
              <div class="card">
                  <div class="card-header">
                      <h5>Please enter the database connection details below:</h5>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="form-group" ng-class="{'invalid-input': frm.address.$invalid && frm.$submitted }">
                                  <label for="address">Database Address:</label>
                                  <input id="address" type="text" name="address"
                                      ng-model="vm.address" required class="form-control inp" />
                                  <!-- <div class="invalid-feedback" ng-if="frm.address.$invalid && frm.$submitted">
                                      <i class="zmdi zmdi-alert-polygon"
                                          ng-if="frm.address.$error.parse">&nbsp;Database
                                          address is required. </i>
                                  </div> -->
                              </div>
                              <div class="form-group" ng-class="{'invalid-input': frm.username.$invalid && frm.$submitted }">
                                  <label for="username">Database Username:</label>
                                  <input id="username" type="text" name="username"
                                      ng-model="vm.username" required class="form-control inp" />
                                  <!-- <div class="invalid-feedback" ng-if="frm.speed.$invalid && frm.$submitted">
                                      <i class="zmdi zmdi-alert-polygon"
                                          ng-if="frm.speed.$error.parse">&nbsp;Download
                                          speed is required. </i>
                                  </div> -->
                              </div>
                              <div class="form-group" ng-class="{'invalid-input': frm.password.$invalid && frm.$submitted }">
                                  <label for="password">Database Password:</label>
                                  <input id="password" type="password" name="password"
                                      ng-model="vm.password" required class="form-control inp" />
                                  <!-- <div class="invalid-feedback" ng-if="frm.speed.$invalid && frm.$submitted">
                                      <i class="zmdi zmdi-alert-polygon"
                                          ng-if="frm.speed.$error.parse">&nbsp;Download
                                          speed is required. </i>
                                  </div> -->
                              </div>
                              <div class="form-group" ng-class="{'invalid-input': frm.sitekey.$invalid && frm.$submitted }">
                                  <label for="sitekey">Site Key:</label>
                                  <input id="sitekey" type="text" name="sitekey"
                                      ng-model="vm.sitekey" required class="form-control inp" />
                                  <!-- <div class="invalid-feedback" ng-if="frm.speed.$invalid && frm.$submitted">
                                      <i class="zmdi zmdi-alert-polygon"
                                          ng-if="frm.speed.$error.parse">&nbsp;Download
                                          speed is required. </i>
                                  </div> -->
                              </div>
                              <div class="form-group" ng-class="{'invalid-input': frm.sitename.$invalid && frm.$submitted }">
                                  <label for="sitename">Site Name:</label>
                                  <input id="sitename" type="text" name="sitename"
                                      ng-model="vm.sitename" required class="form-control inp" />
                                  <!-- <div class="invalid-feedback" ng-if="frm.speed.$invalid && frm.$submitted">
                                      <i class="zmdi zmdi-alert-polygon"
                                          ng-if="frm.speed.$error.parse">&nbsp;Download
                                          speed is required. </i>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="float-right">
                          <button class="btn btn-main" type="submit" ng-click="vm.onTestConnection(frm);">Test Connection</button>
                          &nbsp;
                          <button class="btn btn-main" type="submit" ng-click="vm.onSaveConnectionDtls(frm);">Save Connection Details</button>
                          &nbsp;
                          <button class="btn btn-main" type="submit" ng-click="vm.onClose(frm);">Cancel and Close</button>
                      </div>
                  </div>
          </ng-form>
      </div>
    </div>
   
    
  </body>
</html>
