<div class="container" ng-controller="SetZonesController as vm"  ng-init="vm.onGetZones()" ng-cloak>
  <div class="d-flex justify-content-left mt-5">
      <ng-form novalidate name="frm">
        <div class="card">
              <div class="card-header">
                  <h3>Audiebant Set Zones</h3>
                  <h5>Please tick the relevant zones from the list below. if now zones are showing, please check you have an active internet connection</h5>
              </div>  
              <div class="card-body">
                  <div class="row">                         
                      <div class="col-sm-12">                          
                          <div class="form-group" ng-repeat='zone in zones' ><input type='checkbox' id='{{zone.id}}' value='{{ zone.zone_name }}' ng-model='zone.selected'>&nbsp;<label for='{{zone.zone_name}}'>{{zone.zone_name}}</label></div>                               
                          <div class="row mt-2" ng-if="vm.result">
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-center it-would-not">{{vm.result}}</div>
                            </div>
                          </div>     
                        </div>
                  </div>
              </div>
              <div class="card-footer">
                  <div class="float-right">    
                      <div class="form-group">                                
                          <button class="btn btn-main" type="submit" ng-click="vm.onSaveConnectionDtls(frm);">Save Zones</button>
                          <button class="btn btn-main" type="button" ng-click="vm.onClose();">Cancel and Close</button>
                      </div>
                  </div>
              </div>
        </div>
      </ng-form>           
  </div>
</div>   